@keyframes pulse {
  0% {
    background-color: #f0e6f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(1) rotate(0);
  }
  25% {
    background-color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.03) rotate(3deg);
  }
  50% {
    background-color: #f0e6f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(1) rotate(0);
  }
  75% {
    background-color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.03) rotate(-3deg);
  }
  100% {
    background-color: #f0e6f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(1) rotate(0);
  }
}

@keyframes dim {
  0%,
  100% {
    background-color: #fba6d9;
  }
  50% {
    background-color: #fc91d1;
  }
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  animation: dim 1s infinite;
}

.countdown-container {
  display: flex;
  justify-content: space-around;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  animation: pulse 2s ease-in-out infinite;

  @media (min-width: 600px) {
    width: 440px;
  }

  @media (min-width: 1024px) {
    width: 630px;
  }
}

.countdown-item {
  text-align: center;
  margin-right: 1rem;
  font-family: "Young Serif", serif;
}

.countdown-item span {
  display: block;
  font-size: 2em;
  color: #ff80cc;

  @media (min-width: 600px) {
    font-size: 3em;
  }

  @media (min-width: 1024px) {
    font-size: 6em;
  }
}

p {
  margin: 5px 0;
  color: #4d4dff;
  font-size: 12px;

  @media (min-width: 600px) {
    font-size: unset;
  }
}
