/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
// :root {
//   --color-background: var(--vt-c-white);
//   --color-background-soft: var(--vt-c-white-soft);
//   --color-background-mute: var(--vt-c-white-mute);

//   --color-border: var(--vt-c-divider-light-2);
//   --color-border-hover: var(--vt-c-divider-light-1);

//   --color-heading: var(--vt-c-text-light-1);
//   --color-text: var(--vt-c-text-light-1);

//   --section-gap: 160px;
// }

// @media (prefers-color-scheme: dark) {
:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --link-highlight-color: hsla(160, 100%, 37%, 0.2);
  --link-color: rgb(16, 117, 135);
  --outline-color: darkslategrey;
  --outline-focus-color: rgb(66, 169, 169);
  --input-background-color: hsla(0.5turn, 0%, 50%, 0.8);
  --base-font: 'Gentium Book Plus', 'Times New Roman', 'Times New Roman', Times, serif;
  --heading-font: 'Dungeon', 'Lost Emerald', 'Gentium Book Plus', 'Times New Roman', Times, serif;
}
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Lost Emerald';
  src: url('/Lost Emerald.otf');
}

@font-face {
  font-family: 'Dungeon';
  src: url('/DUNGEON.TTF');
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--base-font);
  /*font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif; */
  font-size: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 1000ms all ease;

  &.start {
    --base-font: 'Playpen Sans', 'Comic Sans MS', sans-serif;
    --heading-font: 'Comic Sans MS', Calibri, sans-serif;
    --link-highlight-color: hsla(196, 80%, 58%, 0.681);
    --link-color: rgb(28, 149, 171);
    --outline-color: rgb(255, 153, 201);
    --outline-focus-color: rgb(255, 244, 251);
    --input-background-color: rgba(255, 244, 251, 0.203);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font)
}
